

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f7f6;
}

.hero-section {
    margin-top: 5%;
   background: url('https://i.postimg.cc/fbZxXvtm/sddd.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}
/* Contenedor Principal */
.content-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}
/* Grid para Misión y Visión */
.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-top: 5px solid #003580;
}

/* Valores y Flota */
.values-section, .fleet-section {
    text-align: center;
    margin-bottom: 50px;
}

.values-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.value-item {
    background: #003580;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 0.9rem;
}